.section-title{
  transition: 1s;
  color: #00C2FF;
  font-size: 300%;
  opacity: 1;
  line-height: 100%;
}


.about-section{
  margin-top: 5%;
  font-size: 120%;
}

.content-wrapper{
  width: 95%;
  z-index: 3;
}

figure{
  text-align: center;
}

p, li{
  color: #DADADA;
  text-align: justify;
}

ul > li ~ li{
  padding-top: 10px;
}

ul{
  padding-left: 5%;
}

body{
  overflow-x: hidden;
  background-color:#020202;
}

@media screen and (orientation: landscape) and (min-width: 726px){
  .about-section{
    margin-top: 2%;
    font-size: 140%;
  } 
}

@media screen and (orientation: landscape) and (min-width: 1000px){
  .about-section{
    font-size: 160%;
  } 

  .content-wrapper{
    width: 87%;
  }
}