.section-title{
  transition: 1s;
  color: #00C2FF;
  font-size: 300%;
  opacity: 1;
  line-height: 100%;
  margin-bottom: 2%;
}


.about-section{
  font-size: 120%;
}

.content-wrapper{
  width: 95%;
  z-index: 3;
}

figure{
  text-align: center;
}

p, li{
  color: #DADADA;
  text-align: justify;
}

p, li{
  color: #fff;
}

ul > li ~ li{
  padding-top: 10px;
}

ul{
  padding-left: 5%;
}

body{
  overflow-x: hidden;
  background-color:#020202;
}

body{
  background-color: #222428;
}

p + p {
  margin-top: 2%;
}

@media screen and (orientation: landscape) and (min-width: 726px){
  .about-section{
    font-size: 140%;
  } 

  p + p {
    margin-top: 1%;
  }  
}

@media screen and (orientation: landscape) and (min-width: 860px){
  .content-wrapper{
    width: 80%;
  }
}

@media screen and (orientation: landscape) and (min-width: 1000px){
  .about-section{
    font-size: 160%;
  } 
}

@media screen and (orientation: landscape) and (min-width: 1330px){
  .content-wrapper{
    width: 75%;
  }
}